body {
    background-image: url(../images/background-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Oswald, sans-serif";
     font-weight:300;
}

}

.myrow {
    background-color: white;
    margin: 8%;
    font-family: "Oswald, sans-serif";
    font-weight:300;
    
}

::-webkit-input-placeholder
{
    font-family: "Oswald, sans-serif";
     font-weight:300;
}

.events {
    
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight:300;
    display: block;
    background-color: white;
    box-shadow: 0 0 30px #888;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    padding: 3%;
}

table tr td {
    font-size: 17px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {

    .events {

        width: 90%;

    }

    table tr td {
        font-size: 14px;
    }


    /* show it on small screens */
}
