/* alex this is for header two files*/
.width {
    width: 100%;

}
.myrow {

    font-family: 'Oswald', sans-serif;
    font-weight:300;
    display: block;
    box-shadow: 0 0 30px #888;
    margin-top: 15vh;
    width: 90vw;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

mylogin
{
     font-family: 'Oswald', sans-serif;
     font-weight:300;
}

.account_header
{
    margin-top: 70;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
}

nav {
    margin-bottom: 15%;
}

nav ul {
    font-size: 3vh;
    text-transform: uppercase;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar-header button {
    background-color: #006f71;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
}

.header_two {
   
    font-family: 'Oswald', sans-serif;
     font-weight:300;

}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar .navbar-default .navbar-fixed-top .navbar-inverse {
    background-color: #006f71;
}

.index-login-form {
    padding: 15% 10% 0% 10%;
}

.index_page img {
    width: 100%;
    height: 118.75vh;
    position: absolute;

    ;

}

.myregister {

    padding: 0% 10% 0% 10%;
}


.text-box1 {
    text-align: center;


}

.text-box1 h1,

label {
    font-size: 15vh;
    font-family: 'Oswald', sans-serif;
    font-weight:300;

}

label {
    font-size: 4vh;
}



.index-login-form {
    padding: 20% 10% 0% 10%;
}


.register_form label {
    font-size: 16px;
}


/*animation */

.index_banner1 {
    animation: slide1 15s linear infinite;
}


.index_banner2 {
    animation: slide2 15s linear infinite;
}

.index_banner3 {
    animation: slide3 15s linear infinite;
}

.index_banner4 {
    animation: slide4 15s linear infinite;
}

@keyframes slide1 {
    0% {
        visibility: visible;
        opacity: 0.9;
    }

    25% {
        visibility: hidden;
        opacity: 0.3;
    }

    50% {
        visibility: hidden;
        opacity: 0.3;
    }

    75% {
        visibility: hidden;
        opacity: 0.3;
    }

    100% {
        visibility: visible;
        opacity: 0.3;
    }
}



@keyframes slide2 {
    0% {
        visibility: hidden;
        opacity: 0.3;
    }

    25% {
        visibility: hidden;
        opacity: 0.3;
    }

    50% {
        visibility: visible;
        opacity: 0.9;
    }

    75% {
        visibility: hidden;
        opacity: 0.3;
    }

    100% {
        visibility: hidden;
        opacity: 0.3;
    }
}


@keyframes slide3 {
    0% {
        visibility: hidden;
        opacity: 0.3;
    }

    25% {
        visibility: hidden;
        opacity: 0.3;
    }

    50% {
        visibility: hidden;
        opacity: 0.3;
    }

    75% {
        visibility: visible;
        opacity: 0.9;
    }

    100% {
        visibility: hidden;
        opacity: 0.3;
    }
}


@keyframes slide4 {
    0% {
        visibility: hidden;
        opacity: 0.3;
    }

    25% {
        visibility: hidden;
        opacity: 0.3;
    }

    50% {
        visibility: hidden;
        opacity: 0.3;
    }

    75% {
        visibility: hidden;
        opacity: 0.3;
    }

    100% {
        visibility: visible;
        opacity: 0.9;
    }
}

.register_form {

    margin: 8% 0% 8% 0%;
    border-right: 5px solid green;

}

.register_view {
    padding: 14% 0% 0% 5%;
    font-size: 3vh;
    text-transform: uppercase;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .index_page {
        display: none;
    }

    .text-box1 h1 {
        font-size: 15vw;

    }


    /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 748px) {
    .register_form {
        border-right: none;


    }


}
